<MudDialog>
    <DialogContent>
        <MudPaper>
            <MudTextField Label="Enter Email"
                          Mask="@EmailMask"
                          Variant="Variant.Text"
                          @bind-Value="Model.Email"
                          InputType="InputType.Text" />

            <div class="d-flex flex-wrap mt-6 mb-8">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           OnClick="SubmitEmail">Proceed</MudButton>
            </div>
            @if (IsVisable)
            {
                <MudForm Model="@Model" @ref="@Form" Validation="Validator.ValidateValue" ValidationDelay="0">
                    <MudTextField Label="Password"
                              Variant="Variant.Text"
                              @bind-Value="Model.NewPassword"
                              For="@(() => Model.NewPassword)"
                              InputType="@PasswordInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@PasswordInputIcon"
                              OnAdornmentClick="DisplayPassoword"
                              AdornmentAriaLabel="Show Password" />
                    <MudTextField Label="Repeated Password"
                              Variant="Variant.Text"
                              @bind-Value="Model.RepeatedNewPassword"
                              For="@(() => Model.RepeatedNewPassword)"
                              InputType="@ReapetedPasswordInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@ReapetedPasswordIcon"
                              OnAdornmentClick="DisplayReapetedPassword"
                              AdornmentAriaLabel="Show Password" />
                </MudForm>
            }
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>